/* Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif, Arial, Helvetica;
    background-color: #EEE;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* End Global Rules */


/* Start Header */

.header {
    background-color: white;
    -webkit-box-shadow: 0 0 10px #DDD;
    -moz-box-shadow: 0 0 10px #DDD;
    box-shadow: 0 0 10px #DDD;
    position: sticky;
    top: 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 73.6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .main-nav {
    display: flex;
}

.header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 73.6px;
    padding: 0 30px;
}

.header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

/* End Header */

/* Start Product Cards */

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 a img {
    width: 100%;

}

.col-4 a {
    color: var(--main-color);
}

.tit {
    text-align: center;
    margin: 50px auto;
    color: var(--main-color);
    line-height: 50px;
}



/* End Product Cards */

/* Filters */
.cards{
    display: flex;
    /* align-items:flex-start; */
}

#filter{
    
    margin-left: 20px;
    width: 150px;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    background-color: white;
    box-shadow: 3px 2px 20px 0px black;
    padding: 20px 10px;
    margin-top: 12%;
    padding-top: 40px;
    padding-left: 15px;
    height: 200vh;
}

#filter .choice{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 13px 0;
}

#filter .choice input{
    margin-right: 5px;
}

#filter .choice label{
    font-weight: bold;
}


/* Start Footer */

.footer {
    background-color: #191919;
    padding: 70px 0 0;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
}

.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;

}

.footer .box .social {
    display: flex;
}

.footer .box .social li {
    margin-right: 10px;
}

.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: 0.3s;
}

.footer .box .social .facebook:hover {
    background-color: #1877f2;
    color: white;
}

.footer .box .social .twitter:hover {
    background-color: #1da1f2;
    color: white;
}

.footer .box .social .instagram:hover {
    background-color: #c13584;
    color: white;
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}

.footer .box .links li {
    padding: 15px 0 0;
    transition: 0.3s;
}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li:hover a {
    color: white;
}

.footer .box .links li a {
    color: #b9b9b9;
    transition: 0.3s;
}

.footer .box .links li a::before {
    font-family: "Font Awesome 5 free";
    content: "\f101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}

.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}

.footer .box .line .info span {
    display: block;
}

.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: #b9b9b9;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}

/* End Footer */

